/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{

    --primary-color : #FF9B06;
    /* --secondary-color :  #FFC961; */
    --secondary-color: rgb(0 188 255);
    --bg-primary: white;
    --bg-secondary : #f0f0f0;
    --gradient : linear-gradient(45deg, rgba(240,129,0,1), rgba(240,129,0,.1));
}

body{
    overflow-x: hidden;
}

*,
*::after,
*::before{
    
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', monospace, sans-serif;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background-color: black;
    display: none;  
}


::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
}

.text-primary{
    color : var(--primary-color)
}

.text-gradient{

    background: linear-gradient(90deg, rgba(240,129,0,1) 0%, rgba(0,188,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-primary{
    background-color: var(--bg-primary);
}

.bg-secondary{
    background-color: var(--secondary-color);
    color: white;
}


html{
    scroll-behavior: smooth;
    user-select: none;
}



a{
    text-decoration: none;
    color: black;
}

nav{
    font-size: 1em;
    padding: 1em 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-icons{
    flex-basis: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}


.nav-items{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

nav a:hover{

    transform: scale(1.1);
}

.animated-img:hover{

    color: var(--primary-color);

}

section{

    min-height: 100vh;
}

section h2{
    text-align: center;
    font-size: clamp(1.5em, 3vw ,3em);
    padding-top: 2.5em;
    padding-bottom: 1.5em;
}


/* HERO */

.hero-bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("./assets/hero-bg.jpg");
    background-size: cover;
}

.hero-bg-fade{
    
    position: absolute;

    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: whitesmoke;
    opacity: 75%;

}

section#hero{

    display: flex;
    align-items: center;
    justify-content: center;
}

section#hero > *{
    
    
    display: flex;
    justify-content: center;
    z-index: 1;
}

.title{

    flex-basis: 60%;
}

h1{
    font-size: clamp(2em, 5vw, 4em);
}

.animated-img{

    animation: floating 3s infinite;
    flex-basis: 30%;
}

.animated-img > *{

    min-width: 100px;
    min-height: 100px;
    height: 50%;
    width: 50%;
}

@keyframes floating {

    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
    
}

.circle-big{

    height: 100em;
    width: 100em;
    border-radius: 50%;

    background-color: black;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -90%);
}

.circle-medium{

    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    
    background-color: var(--bg-primary);

    position: absolute;
    top: 15%;
    left: 2%;
    z-index: 1;
}

.circle-small{

    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    
    background-color: var(--bg-secondary);

    position: absolute;
    top: 0%;
    left: 30%;
    z-index: 1;
    transform: translate(0, -20%);
}

/* ABOUT */


section#about .content{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10em;
    padding-bottom: 2em;
    padding-top: 5em;
}

.avatar{
    position: relative;
    display: flex;
    justify-items: center;
}



.avatar-bg{

    width: max(250px,17vw);
    height: max(250px,17vw);
    

    border-radius: 50%;
    background: var(--gradient);
    animation: spin 2s  infinite  linear;
    z-index: 1;
}

.avatar-img{

    position: absolute;
    top: 50%;
    left: 50%;
    

    height: 120%;
    width: 120%;

    transform: translate(-50%, -50%);

    z-index: 100;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.bio{

    flex-basis: 60%;
    font-size: clamp(0.85em, 1vw ,1.15em);
    max-width: 30vw;
    font-weight: 300;
}


/* TECNOLOGIAS */

section#tecnologias{

}

section#tecnologias .content{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;

    max-width: 60%;
    min-width: 300px;
    margin-inline: auto;
    
    padding-bottom: 2em;
    padding-top: 4em;
}

.box-tecno{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5em;

    width: 200px;
    height: 200px;
    border-radius: 2px;

    background-color: var(--bg-primary);
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);
}

.box-tecno:hover,
.card-learning:hover{
    transform: scale(1.1);
}

.box-tecno > img{

    width: 50%;
    height: 50%;
    
}

.btn-top{

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 10px;
    right: 10px;

    background-color: var(--primary-color);
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 10px;
}

/* APRENDIENDO */

section#aprendiendo .content{

    max-width: 70%;
    margin-inline: auto;
    
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 2em;

    grid-template-columns: repeat(auto-fit, 500px);

    padding-top: 4em;
    padding-bottom: 2em;
}

.card-learning{

    height: 200px;
    width: 500px;
    box-shadow: 0 0 20px  rgba(0, 0, 0, 0.2);

    display: flex;
}
.card-learning .icon{

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-learning .icon img{

    width: 60%;
    height: 60%;
}

.card-learning .icon{

    width: 200px;
    height: 100%;
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}

.card-learning .info{
    padding: 1em;
}

.card-learning .title{

    text-align: center;
}

.card-learning .description{

    padding: 1em;
    font-weight: 300;
    font-size: 0.85em;
}

.card-learning .description ul{
    list-style: none;
    margin-inline: auto;
}
  
.card-learning .loading{

    color: gray;
    cursor: progress;
}

.card-learning li::before {

    content: "✓";
    color: rgb(2, 241, 34);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.card-learning li.loading::before {
    content: "*";
    color: var(--primary-color)
}






/*  CONTACT  */

section#contacto .content{
    margin-bottom: 3em;
}

.contact-form{
    width: clamp(25em, 30%, 50em);

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.contact-form input{

    height: 3em;
    padding-inline: 1em;
}

.contact-form textarea{

    padding: 1em;
    resize: none; 
}

.contact-form input,
.contact-form textarea{

    margin-bottom: 2em;
    outline-color: var(--primary-color);
}

/* FOOTER */

footer{

    background-color: black;
    color: white;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
    font-weight: 100;
    padding-left: 2em;
    padding-right: 5em;
}

footer svg{
    color: white;
}

footer .footer-links{

    display: flex;
    gap: 1em;
}

/* BUTTONS */

.btn{

    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 15px;
    padding: 0.5em;
}

.btn:hover{

    background-color: var(--primary-color);
    color: white;
    
}



.f-center{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile */

@media (max-width: 700px) {

    section{
        min-height: none;
    }

    nav{
        position: absolute;
        justify-content: center;

    }

    nav .nav-items{
       display: none;
    }

    nav .nav-icons{
        flex-basis: 100%;
    }

    section#hero .title{

        font-size: 1.5em;
        text-align: center;
        z-index: 2;
    }

    section#hero .animated-img {
        position: absolute;
        animation: none;
        
    }
    
    section#hero .animated-img >*{

        transform: scale(2);
        opacity: .05;
    }

    section#about .content{

        flex-direction: column;
        gap: 5em;
    }

    .bio{
        max-width: 50%;
    }

    .box-tecno{
        height: 100px;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
    }

    .card-learning{

        width: 70%;
        position: relative;
        flex-direction: column;
    }

    .card-learning .icon{

        display: block;
        border: none;
        position: absolute;
        top: 2px;
        right: 0px;
    }

    .card-learning .icon > *{
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
}